<h1>Liste des projets</h1>
<p>
    <a routerLink="/new-project" class="btn btn-primary">New Project</a>
</p>
<data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
>
    <data-table-column
        [property]="'Name'"
        [header]="'Name'"
        [sortable]="'true'"
        [resizable]="'true'"
    >
        
    </data-table-column>

    <data-table-column
        [property]="'Description'"
        [header]="'Description'"
        [sortable]="'true'"
        [resizable]="'true'"
    >
        
    </data-table-column>

    <data-table-column
        [property]="'Domaine'"
        [header]="'Domaine'"
        [sortable]="'true'"
        [resizable]="'true'"
    >
        <ng-template #dataTableCell let-item="item">
            {{ item.Domaine.name }}
        </ng-template>
    </data-table-column>

    <data-table-column
        [property]="'CreePar'"
        [header]="'Cree par'"
        [sortable]="'true'"
        [resizable]="'true'"
    >
        <ng-template #dataTableCell let-item="item">
            {{ item.CreePar.nom }}
        </ng-template>
    </data-table-column>

    <data-table-column
        [property]="'CreeLe'"
        [header]="'Cree Le'"
        [sortable]="'true'"
        [resizable]="'true'"
    >
        
    </data-table-column>

    <data-table-column
        [property]="'key'"
    >
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/edit-project', item.key]">Edit</a>
        </ng-template>
    </data-table-column>

    <data-table-column
        [property]="'key'"
    >
        <ng-template #dataTableCell let-item="item">
            <button class="btn btn-link" (click)="delete(item.key)">Delete</button>
        </ng-template>
    </data-table-column>
</data-table>