<h1>Liste des projets</h1>
<p>
    <a routerLink="/new-project" class="btn btn-primary">New Project</a>
</p>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Domaine</th>
            <th>Cree par</th>
            <th>Cree le</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of projects$ | async">
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.description }}
            </td>
            <td>
                {{ item.Domaine.name }}
            </td>
            <td>
                {{ item.CreePar.nom }}
            </td>
            <td>
                {{ item.CreeLe }}
            </td>
            <td>
                <a [routerLink]="['/edit-project', item.key]">Edit</a>
            </td>
            <td>
                <button class="btn btn-link" (click)="delete(item.key)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<!--
<data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
>
    <data-table-column
        [property]="'Name'"
        [header]="'Name'"
        [sortable]="'true'"
        [resizable]="'true'"
    >
        
    </data-table-column>

    <data-table-column
        [property]="'Description'"
        [header]="'Description'"
        [sortable]="'true'"
        [resizable]="'true'"
    >
        
    </data-table-column>

    <data-table-column
        [property]="'Domaine'"
        [header]="'Domaine'"
        [sortable]="'true'"
        [resizable]="'true'"
    >
        <ng-template #dataTableCell let-item="item">
            {{ item.Domaine.name }}
        </ng-template>
    </data-table-column>

    <data-table-column
        [property]="'CreePar'"
        [header]="'Cree par'"
        [sortable]="'true'"
        [resizable]="'true'"
    >
        <ng-template #dataTableCell let-item="item">
            {{ item.CreePar.nom }}
        </ng-template>
    </data-table-column>

    <data-table-column
        [property]="'CreeLe'"
        [header]="'Cree Le'"
        [sortable]="'true'"
        [resizable]="'true'"
    >
        
    </data-table-column>

    <data-table-column
        [property]="'key'"
    >
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/edit-project', item.key]">Edit</a>
        </ng-template>
    </data-table-column>

    <data-table-column
        [property]="'key'"
    >
        <ng-template #dataTableCell let-item="item">
            <button class="btn btn-link" (click)="delete(item.key)">Delete</button>
        </ng-template>
    </data-table-column>
</data-table>-->