<h1>List of forms</h1>
<p>
    <a routerLink="/new-formulaire" class="btn btn-primary">New Form</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Project</th>
            <th>Created by</th>
            <th>Creation date</th>
            <th *ngIf="user.isAdmin"></th>
            <th *ngIf="user.isAdmin"></th>
            <th></th>
            <th></th>
            <th *ngIf="user.isAdmin"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of formulaires$ | async">
            <td>
                <ng-template #normalUser>
                    {{ item.name }}
                </ng-template>
                <a *ngIf="user.isAdmin; else normalUser" [routerLink]="['/view-formulaire', item.key]">{{ item.name }}</a>
            </td>
            <td>
                {{ item.description }}
            </td>
            <td>
                {{ item.FormType.name }}
            </td>
            <td>
                {{ item.Projet.Name }}
            </td>
            <td>
                {{ item.CreePar.nom }}
            </td>
            <td>
                {{ item.CreeLe }}
            </td>
            <td *ngIf="user.isAdmin">
                <a [routerLink]="['/edit-formulaire', item.key]">Edit</a>
            </td>
            <td *ngIf="user.isAdmin">
                <a [routerLink]="['/share-formulaire', item.key]">Share</a>
            </td>
            <td>
                <a [routerLink]="['/fill-formulaire', item.key]">Fill out</a>
            </td>
            <td>
                <a [routerLink]="['/formulaire-entries', item.key]">Entries</a>
            </td>
            <td *ngIf="user.isAdmin">
                <button class="btn btn-link" (click)="delete(item.key)">Delete</button>
            </td>
        </tr>

        <tr *ngFor="let item of sharedFormulaires">
            <td>
                <ng-template #normalUser>
                    {{ item.formulaire.name }}
                </ng-template>
                <a *ngIf="user.isAdmin; else normalUser" [routerLink]="['/view-formulaire', item.formulaireId]">{{ item.formulaire.name }}</a>
            </td>
            <td>
                {{ item.formulaire.description }}
            </td>
            <td>
                {{ item.formulaire.FormType.name }}
            </td>
            <td>
                {{ item.formulaire.Projet.Name }}
            </td>
            <td>
                {{ item.formulaire.CreePar.nom }}
            </td>
            <td>
                {{ item.formulaire.CreeLe }}
            </td>
            <td *ngIf="user.isAdmin">
                <a [routerLink]="['/edit-formulaire', item.formulaireId]">Edit</a>
            </td>
            <td *ngIf="user.isAdmin">
                <a [routerLink]="['/share-formulaire', item.formulaireId]">Share</a>
            </td>
            <td>
                <a [routerLink]="['/fill-formulaire', item.formulaireId]">Fill out</a>
            </td>
            <td>
                <a [routerLink]="['/formulaire-entries', item.formulaireId]">Entries</a>
            </td>
            <td *ngIf="user.isAdmin">
                <button class="btn btn-link" (click)="delete(item.formulaireId)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!--
<data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
    <data-table-column [property]="'name'" [header]="'Name'" [sortable]="'true'" [resizable]="'true'">

        <ng-template #dataTableCell let-item="item">
            <ng-template #normalUser>
                {{ item.name }}
            </ng-template>
            <a *ngIf="user.isAdmin; else normalUser" [routerLink]="['/view-formulaire', item.key]">{{ item.name }}</a>
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'description'" [header]="'Description'" [sortable]="'true'" [resizable]="'true'">

    </data-table-column>

    <data-table-column [property]="'FormType'" [header]="'Type'" [sortable]="'true'" [resizable]="'true'">
        <ng-template #dataTableCell let-item="item">
            {{ item.FormType.name }}
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'Projet'" [header]="'Project'" [sortable]="'true'" [resizable]="'true'">
        <ng-template #dataTableCell let-item="item">
            {{ item.Projet.Name }}
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'CreePar'" [header]="'Cree par'" [sortable]="'true'" [resizable]="'true'">
        <ng-template #dataTableCell let-item="item">
            {{ item.CreePar.nom }}
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'CreeLe'" [header]="'Cree Le'" [sortable]="'true'" [resizable]="'true'">

    </data-table-column>

    <data-table-column *ngIf="user.isAdmin" [property]="'Id'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/edit-formulaire', item.key]">Edit</a>
        </ng-template>
    </data-table-column>

    <data-table-column *ngIf="user.isAdmin" [property]="'Id'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/share-formulaire', item.key]">Share</a>
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'Id'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/fill-formulaire', item.key]">Fill out</a>
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'Id'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/formulaire-entries', item.key]">Entries</a>
        </ng-template>
    </data-table-column>

    <data-table-column *ngIf="user.isAdmin" [property]="'Id'">
        <ng-template #dataTableCell let-item="item">
            <button class="btn btn-link" (click)="delete(item.key)">Delete</button>
        </ng-template>
    </data-table-column>
</data-table>-->