<form #f="ngForm" >
    <div class="form-group" *ngIf="question.ComponentId == 1">
        <label for="title"><h4>{{ question.Message }}</h4></label>
        <input matInput #ValeurTextBox="ngModel" 
            name="valeurTextBox" 
            [(ngModel)]="reponse.Valeur" 
            id="valTextBox + {{ reponse.Id }}" 
            type="text" 
            class="form-control" 
            required="question.Required">           
        <div class="alert alert-danger" *ngIf="question.Required && ValeurTextBox.touched && ValeurTextBox.invalid">
            {{ question.name }} is required.
        </div>
    </div>

    <div class="form-group" *ngIf="question.ComponentId == 2">
        <label for="domaine"><h4>{{ question.Message }}</h4></label>
        <select #ValeurComboBox="ngModel" name="ValeurComboBox" [(ngModel)]="reponse.Valeur" id="valComboBox + {{ question.Id }}" class="form-control" required="question.Required">
            <option value=""></option>
            <option *ngFor="let d of references$ | async" [value]="d.Code">
                {{ d.Texte }}
            </option>
        </select>
        <div class="alert alert-danger" *ngIf="question.Required && ValeurComboBox.touched && ValeurComboBox.invalid">
            {{ question.name }} is required.
        </div>
    </div>

    <div class="form-group" *ngIf="question.ComponentId == 3">
        <label for="valRadio"><h4>{{ question.Message }}</h4></label>
        <div *ngFor="let d of references$ | async">
            <mat-radio-group #ValeurRadio="ngModel" name="ValeurRadio"
            [(ngModel)]="reponse.Valeur"
            id="valRadio + {{ d.key }}">
                <mat-radio-button [value]="d.Code">{{ d.Texte }}  </mat-radio-button>          
            </mat-radio-group>
        </div>       
    </div>

    <div class="form-group" *ngIf="question.ComponentId == 4">
        <label for="valCheckBox"><h4>{{ question.Message }}</h4></label>
        <div *ngFor="let d of references$ | async">
            <mat-checkbox (change)="valeurChoisie(d, $event)" #ValeurCheck="" id="valCheckBox + {{ d.key }}" [value]="d.Code" name="#ValeurCheck">{{ d.Texte }}</mat-checkbox>
        </div>
    </div>

    <div class="form-group" *ngIf="question.ComponentId == 5">
        <label for="title"><h4>{{ question.Message }}</h4></label>
        <textarea 
            name="valeurTextBox" id="valTextBox + {{ reponse.Id }}" 
            cols="30" 
            rows="10"
            #ValeurTextBox="ngModel"
            [(ngModel)]="reponse.Valeur"
            class="form-control" 
            required="question.Required">

        </textarea>
        <div class="alert alert-danger" *ngIf="question.Required && ValeurTextBox.touched && ValeurTextBox.invalid">
            {{ question.name }} is required.
        </div>
    </div>

    <div class="form-group" *ngIf="question.ComponentId == 6">
        <label for="title"><h4>{{ question.Message }}</h4></label>
        <input matInput #ValeurTextBox="ngModel" 
            name="valeurTextBox" 
            [(ngModel)]="reponse.Valeur" 
            id="valTextBox + {{ reponse.Id }}" 
            type="date" 
            class="form-control" 
            required="question.Required">           
        <div class="alert alert-danger" *ngIf="question.Required && ValeurTextBox.touched && ValeurTextBox.invalid">
            {{ question.name }} is required.
        </div>
    </div>
    
    

    

    
    <!--
    <div class="form-group">
        <mat-checkbox #required="ngModel" [value]="" name="Required" [checked]="question.Required" [(ngModel)]="question.Required">Required</mat-checkbox>
    </div>
    <input #idForm="ngModel" name="FormulaireId" [(ngModel)]="question.FormulaireId" id="FormulaireId + {{ question.Id }}" type="text" hidden class="form-control">
    <input #Id="ngModel" name="Id" [(ngModel)]="question.Id" id="Id + {{ question.Id }}" type="text" hidden class="form-control">
    <button class="btn btn-primary">Save</button>-->
</form>