<h2> Entries list of {{ formulaire.description }}</h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th *ngFor="let item of keyValueRepHeader | keyvalue : returnZero">{{ item.key }}</th>
            <th>Filled by</th>
            <th>Filled date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let k of keyValueReponses; let compteur = index" [attr.data-index]="compteur">
            <td *ngFor="let i of k | keyvalue : returnZero">
                <div *ngIf="i.value.Question.ComponentId == 2 || i.value.Question.ComponentId == 3">
                    {{ i.value.Reference.Texte }}
                </div>
                <div *ngIf="i.value.Question.ComponentId == 1">
                    {{ i.value.Valeur }}
                </div>
                <div *ngIf="i.value.Question.ComponentId == 4">
                    {{ i.value.Valeur }}
                    <!--<table>
                        <tbody>
                            <tr><td>Avengers Endgame</td></tr>
                            <tr><td>Joker</td></tr>
                        </tbody>
                    </table>-->
                </div>   
                <div *ngIf="i.value.Question.ComponentId == 5">
                    {{ i.value.Valeur }}
                </div>  
                <div *ngIf="i.value.Question.ComponentId == 6">
                    {{ i.value.Valeur }}
                </div>            
            </td>
            <td *ngFor="let i of keyValueUsers[compteur] | keyvalue : returnZero">{{ i.value }}</td>
        </tr>
    </tbody>
</table>
