@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding-top: 80px;
}
#login-card{
    padding-top: 200px;
}

#headingOne{
    height: 50px;
}